<div class="header">
  <div class="header__left">
    <i id="menu" class="material-icons">menu</i>
    <img src="assets/youtubeIcon.png" width="90px">

  </div>
  <div class="header__search">

    <div class="col-10 border border-2 rounded-4  d-flex align-items-center justify-content-between">
      <input class="w-100 border-0 fs-6" #box (keyup.enter)="search(box.value)" placeholder="Search" type="text">
      <i class="material-icons display-this" (click)="search(box.value)">search</i>
    </div>
  </div>
  <div class="header__icons">
    <i class="material-icons">videocam</i>
    <i class="material-icons">apps</i>
    <i class="material-icons">notifications</i>
    <i class="material-icons display-this">account_circle</i>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class=" col-md-10 col-12 col-sm-11">
    <div class="row my-1 py-1">
      <div class="col d-flex overflow-hidden">
        <span class="border rounded-2 px-2 bg-secondary bg-opacity-25 mx-1 py-1">All</span>
        <span class="border rounded-2 px-2 bg-secondary bg-opacity-25 mx-1 py-1">Gaming</span>
        <span class="border rounded-2 px-2 bg-secondary bg-opacity-25 mx-1 py-1">Live</span>
        <span class="border rounded-2 px-2 bg-secondary bg-opacity-25 mx-1 py-1">Mixes</span>
        <span class="border rounded-2 px-2 bg-secondary bg-opacity-25 mx-1 py-1">Music</span>
        <span class="border rounded-2 px-2 bg-secondary bg-opacity-25 mx-1 py-1">Mahabharat</span>
        <span class="border rounded-2 px-2 bg-secondary bg-opacity-25 mx-1 py-1">Art</span>
        <span class="border rounded-2 px-2 bg-secondary bg-opacity-25 mx-1 py-1">Motivation</span>
        <span class="border rounded-2 px-2 bg-secondary bg-opacity-25 mx-1 py-1">Sadguru</span>
      </div>
    </div>
  </div>
</div>
